body {
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    margin-top: 20px;
}

.header-image {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

    .header-image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }

.doctor-card {
    border-radius: 15px;
    background: linear-gradient(135deg, #f9cbff 0%, #53295c 100%);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
    color: #f8e5fa;
}

.appointment-card {
    border-radius: 15px;
    background: linear-gradient(135deg, #e6e6fa 0%, #d8bfd8 100%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.doctor-image {
    width: 160px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-size: 0.9em;
}

#bookButton {
    background-color: #53295c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

    #bookButton:hover {
        background-color: #d8bfd8;
        transform: scale(1.05);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    }

    #bookButton:active {
        background-color: #53295c;
        transform: scale(0.98);
    }
