body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    background-color: #9B7EBD;
    color: white;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
}

    .profile-header img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .profile-header h2 {
        margin: 0;
    }

    .profile-header p {
        margin: 5px 0;
    }

.history, .sessions {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .history h2, .sessions h2 {
        color: #76137a;
        margin-top: 0;
    }

    .history button, .book-session {
        background-color: #9B7EBD;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-weight: bold;
    }

        .history button:hover, .book-session:hover {
            background-color: #9B7EBD;
        }

.session-item {
    background-color: #f5f5f5;
    padding: 15px;
    border-left: 5px solid #9B7EBD;
    border-radius: 5px;
    margin-bottom: 10px;
}

    .session-item h3 {
        color: #76137a;
        margin-bottom: 10px;
    }

    .session-item p {
        margin: 5px 0;
    }

.book-session {
    background-color: #9B7EBD;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

    .book-session:hover {
        background-color: #9B7EBD;
    }

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

    .buttons button {
        background-color: #9B7EBD;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-weight: bold;
    }

        .buttons button:hover {
            background-color: #9B7EBD;
        }
